In [1]:
# Data manipulation and analysis
import pandas as pd
import numpy as np

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Your plotting code here
import plotly.graph_objects as go
import plotly.express as px

# Machine learning and statistical analysis
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import statsmodels.api as sm

# Time series analysis
from pmdarima import auto_arima

# Financial data retrieval
import yfinance as yf

# Deep learning (if you plan to use neural networks)
import tensorflow as tf
from tensorflow import keras

# Web scraping (if you need to collect additional data)
from bs4 import BeautifulSoup
import requests

In [3]:
file_path = '/Users/arnavjain/Desktop/Stock/archive/H1/NVDA.US_H1.csv'

df = pd.read_csv(file_path)

df.head()

              datetime  open  high   low  close   volume
0  1999-01-22 19:00:00  5.56  5.86  4.65   4.75  3030600
1  1999-01-22 20:00:00  4.75  5.36  4.71   5.12  1259000
2  1999-01-22 21:00:00  5.12  5.40  5.00   5.00   418900
3  1999-01-22 22:00:00  5.03  5.25  4.87   4.90   621800
4  1999-01-25 16:00:00  5.31  5.31  4.92   4.98   271400

In [4]:
df.tail()

                  datetime    open    high     low   close   volume
44870  2024-03-13 19:00:00  893.24  894.20  887.50  893.25  3258627
44871  2024-03-13 20:00:00  893.21  907.70  893.05  903.37  5345738
44872  2024-03-13 21:00:00  903.27  908.77  898.30  905.23  3964885
44873  2024-03-13 22:00:00  905.02  915.04  903.14  908.65  6569262
44874  2024-03-13 23:00:00  908.78  909.20  908.54  908.98    20187

In [5]:
df.columns

Index(['datetime', 'open', 'high', 'low', 'close', 'volume'], dtype='object')

In [6]:
df.isnull().sum()

datetime    0
open        0
high        0
low         0
close       0
volume      0
dtype: int64